* {
    box-sizing: border-box;
}


/* Extra reseting*/
img{
    max-width: 100%;
    height:auto;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* *, *:before, *:after {
    box-sizing: inherit;
  } */

/* Basic settings for the page */
p{
    font-size: 16px;
    text-align: center;
}


html body{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight:400;
    /* font-style:normal; */
    color:#2d2d2d;
}

h1, h2, h3{
    font-family:'Playfair Display', Arial, sans-serif;
    font-weight:400;
    color:#2d2d2d;
    /* font-style:normal; */
}

a:link {
    text-decoration: none;
    line-height: 1.5;
  }
/* Header with the logo,links and cart icon  */
.aloha-logo{
    flex-basis: 20%;
}

.head{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: center;
    padding: 16px 2% 8px 2%;
}

.cart-icon{
    flex-basis: 10%;
    order: 2;
}

.nav-site{
    align-self: center;
    flex-basis:auto;
    text-align: center;
}

.links li{
    
    display:inline;
    font-size:18px;
    text-transform: uppercase;
    padding: 1px 2px;
    margin-left: 0px;
    text-decoration: none;
    margin: 16px;
    
}

a{ 
    color:#e2574c;
   
  }
  
a:hover{
    color:#b64036;
  }

  /* Banner section */
.hero-banner{
    background: 
      linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
      url(images/banner-girl.png)  no-repeat center 70px ,
      url(images/flower-bkgd.jpg) repeat-x center top ;
      background-size: cover,contain, cover;
      height: 400px;
}

.align-text {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 24px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

/* .container{
    max-width: 1240px;
    /* margin: 0 auto; */
    /* margin: 0 7%; */

/* } */

.wrapper.container {
    margin: 0 auto;
    padding: 0 2%;
}

/* .hero-banner p {
    /* 
    
     */
    
    /* margin:0, auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; */
    /* line-height: 1; */
    
     
/* }  */

.new-collection{
    text-align: center;

    font-size: 1.25rem;
    margin-bottom: 1.5rem;
   
    color:white;
    text-transform: uppercase;
     /* padding:50px;   */
    
    
}

.season{
    text-align: center;
    font-size: 42px;
    color:white;
   
}

/* About section */

  .italic{ 
    margin: 30px auto;  
    text-align: center;
    font-size:  2.25rem;;
    font-style:italic;

}

.bold{
    font-weight: bold;
    font-style:normal;
    
}

.about{
    color: #2d2d2d;
    font-family: Raleway Web,sans-serif;
    font-size: 1.18rem;
    line-height: 2;
    /* margin: 20px auto; */
    
    margin-bottom: 45px;
    margin-top: 0px;

    height: 70px;
    padding: 1rem 0;
    padding-right: 40px;
    padding-left: 40px;
}
    




/* Categories section */
.categories{
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  
  /* justify-content:space-between; */
  
  /* align-items:flex-start;
  align-content:space-between; */
}

.items{
  
    /* padding: 5px; */
   
    /* margin-top: 10px; */
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    
    text-align: center;
    
   /* justify-content:center;*/
    align-items:center; 

    /* margin: 5px; */
    
    border: 5px solid white;
    height: 25vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }
 
    .items p{
        font-size:2.4rem;
    }

  .items-men {
    background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
    url(images/mens-category.jpg) no-repeat 50% ;
    background-size: cover,cover;
     height:300px; 
     flex: 2 0 100%;
     flex-basis: 50%;
     /* flex-grow: 2;
     flex-shrink: 0;
     flex-basis: 100%;
     height: 50vw; */
     /* max-width: 100%; */
     
  }

  .items-trends {
    background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
    url(images/trends-category.jpg) no-repeat 50% ;
    background-size: cover,cover;
    height:300px; 
    flex: 1 0 50%;
    flex-basis: 25%;
    /* flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    height: 50vw; */
    /* max-width: 50%; */
    
}

.items-glasses {
    background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
    url(images/glasses-category.jpg) no-repeat 50% ;
    background-size: cover,cover;
     height:300px; 
   flex: 1 0 50%;
   flex-basis: 25%;
    /* flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    height: 50vw; */
    /* max-width: 50%; */
}

.items-sales {
    background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
    url(images/sale-category.jpg) no-repeat 50% ;
    background-size: cover,cover;
    height:300px; 
    flex: 1 0 50%;
    flex-basis: 25%;
    /* flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 25%; */
    /* width: 50%;
    height: 50vw; */ 
}

.items-bags {
    background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
    url(images/bags-category.jpg) no-repeat 50% ;
    background-size: cover,cover;
    height:300px; 
    flex: 1 0 50%;
    flex-basis: 25%;
    /* flex-grow: 1;
    flex-shrink: 1; */
    /* flex-basis: 25%; */
    /* width: 50%;
    height: 50vw; */
}

.items-womens{
    background:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
    url(images/womens-category.jpg) no-repeat 50% ;
    background-size: cover,cover;
     height:300px; 
    flex: 2 0 100%;
    flex-basis: 50%;
    /* flex-grow: 2;
     flex-shrink: 0;
     flex-basis: 100%;
     height: 50vw; */
  }
  .categories a{
    color:white;
    /* font-size: 14px; */
}
.categories a:hover{
    color: #f5ebc6;
}
/* Most loved Section */

/* Sign-up banner Section */
.signup-banner{
    background: 
      
      linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
      url(images/wave-bkgd.jpg)  repeat-x bottom ;
      background-size: cover, cover;
      min-height: 300px;
      
   
}

.update-head{
    margin: 30px auto;  
    text-align: center;
    font-size: 2.25rem;
    font-style:italic;
    color:white;
    
    padding-top: 48px;

}
.updates{

    font-size: 1.2rem;
    line-height: 2;
    margin: 20px auto;
    height: 70px;
    padding: 1rem 0;
    color:white;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,0.8);

}

.sign-up{

    display: block;
    margin: 2rem auto 0 ;
    position: relative;
    width: 90%;
    text-align: center;

}  

input[type=submit] {
     border:0;
    border-radius: 25px;
    background-color: #e2574c;
    color: white; 
    /* bottom: 0.25rem; */
    /* margin-right: 0px; */
    position: absolute;
    top:0.25rem;
    right:0.25rem;
    /* left:35.95rem; */
    padding:0.5rem 1.5rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type=email] {
    border:0;
    border-radius: 25px;
    color: black;
    width:100%;
    /* padding-right: 20px;  */

    /* line-height:32px; */
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    /* padding-left: 28px; */
    padding-right: 150px;
    padding: 0.75rem 1.85rem;
    outline: none;
}

.signup-banner p{
    text-shadow: 2px 2px 4px hsla(0,0%,39%,0.8);
}

/* Footer Section */
.footer-banner{

    background-color:#242424;
    color:white;
    font-family: Playfair Display Web,serif;
    padding: 4rem 0;
    height: 20vw;
    /* text-align: left; */
}

.footer-banner p{
    text-align:left;
}
.footer-banner p a{
    text-decoration: underline;
}

.address{
    color:#969696;
}
footer a{

    color:white;
   
}

footer a:hover{
    color:red;
  }

.footer-contact {
    line-height: 1.5;
    display:flex;
    justify-content: space-between;
    text-align: left;
    padding: 0 2%;
}

.social{
    margin-top: 0;
    padding-right: 2rem;
    font-family: Raleway Web,sans-serif;
    line-height: 1.5;
    text-decoration: none;
}

.social li{
   text-decoration: none;
}
.network {
    display: inline;
    line-height: 1.5;
}

.wrapper {
    text-align: center;
}
.carousel-cell p {
    width: 100%;
    text-align: center;
  }

/* mobile style */
@media only screen and (max-width:600px ) {

p{
    font-size: 14px;
    text-align: center;
}
.carousel-cell {
    width: 100%;
    text-align: center;
  }

.head{
    padding-bottom:0.5rem;
    padding-top:1rem;
    align-content:unset;
      
}
 
.container.head{
    padding:0 2%;
    margin:0 auto;
    width:100%;
    padding-top: 8px;
}

.cart-icon{
    text-align: right;
    align-self: flex-end;
    flex: 0 1 16%;
    order:0;
}

.aloha-logo{
    align-self: flex-start;
    flex: 0 1 34%;
}

.nav-site{
    align-self: center;
    flex: 1 0 auto;
}

.nav-site li{
   padding: 0 ;
   margin:0 7px;
}
section{
    padding: 3rem 0;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom: 80px; */
}
.about-aloha{
    padding-top: 12px;
}
.about{
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.categories a{
    color:white;
    /* font-size: 14px; */
}
.categories a:hover{
    color: #f5ebc6;
}
.categories p{
    font-size: 1.5rem;
}

.signup-banner{
    padding:56px 0;
    margin-bottom: 8px;
    height: unset;
}

.signup-banner .wrapper.container {
    width:100%;
}

.signup-banner .wrapper.container h2 {
    padding:0;
    margin: 0 0 21px 0;
}

.signup-banner .wrapper.container p {
    padding:0;
    margin: 0;
    font-size: 1.15rem;
    /* text-align: center; */
}
.signup-banner .wrapper.container form{
    padding:0;
    margin-top:100px;
}
.footer-banner{
    height:unset;
}

.footer-contact {
    line-height: 1.3;
    display:unset; 
    justify-content: center;
    text-align: center;
    padding: 0px 15%;
}

.footer-contact p{
    text-align: center;
}

.network {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
}

.social li span{
    display:none;
}

.social{
    padding-top: 18px;
    padding-left: 51px;
}
.social li{
    display: inline;
  
    
}

.social i{
   
        min-width: 20px;
      
}

.wrapper.updates p{
    padding: 0;
}

.categories{
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    text-align: center;
}

.items-men {
     border-left: 0;
    border-right: 0;
    /* -ms-flex: 2 0 100%; */
    /* flex: 2 0 100%; */
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%; 
    /* height: 50vw; */
    
}
.items-womens{
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%; 
}


.items-trends  {
     /* flex: 1 0 50%; */
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis:50%;
    width: 50%; 
    /* height: 50vw; */
    
}

.items-glasses{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:50%;
   width: 50%; 
}
.items-bags{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:50%;
   width: 50%; 
}
.items-sales{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:50%;
   width: 50%; 
}



}
/* max width:1240px */
@media only screen  and (min-width:600px ) {
    html{
        font-size:16px;
    }

    .head{
        flex-wrap:nowrap;
    }

    .nav-site{
        align-self: center;
        flex: 1 0 auto;
    }

    .wrapper{
        max-width: 720px;
    }

    .sign-up{
        width:67%;
    }

    .footer-banner {
        text-align: left;
    }
    .footer-banner .container{
    display: flex;
    justify-content: space-between;

    }

    .footer-banner .social{
        margin-top: 0;
        padding-right: 2rem;
        
    }
    .footer-banner{
        height:unset;
    }

    .social li{
        display:block;
       
    }

    .network{
        padding-left: 14px;
        line-height: 2;
    }

    .carousel-cell {
        width: 25%;
      }

 
   
  .product-type{
    font-size: .75rem;
    margin-bottom: .75rem;
    text-transform: uppercase;
    color: #969696;
    font-weight: 700;
  }

  .price{
    color: #969696;
    font-weight: 700;
  }

  h3{
    color: #e2574c;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

   .updates{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 51px;
   }

   .items-men {
  
     height:300px; 
     flex: 2 0 50%;
     /* flex-basis: 50%; */
    width:50%;
     
  }

  .items-trends {
    
    height:300px; 
    flex: 1 0 25%;
    /* flex-basis: 25%; */
    width:25%;
}

.items-glasses {
    
     height:300px; 
   flex: 1 0 25%;
   /* flex-basis: 25%; */
   width:25%;
}

.items-sales {
    
    height:300px; 
    flex: 1 0 25%;
    /* flex-basis: 25%; */
    width:25%;
   
}

.items-bags {
   
    height:300px; 
    flex: 1 0 25%;
    /* flex-basis: 25%; */
    width:25%;
}

.items-womens{
   
     height:300px; 
    flex: 2 0 50%;
    /* flex-basis: 50%; */
    width:50%;
  
  }
  .signup-banner{
    margin-bottom: 8px;
  }


}
  @media only screen and (min-width:1240px ) {
      .wrapper {
          width: 720px;
      }

      .container {
          max-width: 1240px;
      }
      .signup-banner{
        margin-bottom: 8px;
      }
      .about{
        padding-left: 335px;
        padding-right: 305px;
        padding-top: 4px;
      }
  }

